.home {
  .image {
    width: 100%;
    // max-height: calc(100vh - 50px);
    img {
      width: 100%;
      max-height: calc(100vh - 50px);
      object-fit: cover;
    }
  }
  .posts {
    width: 80%;
    margin: auto;
  }
}
