<section class="home">
    <div class="main-left">
        <div class="main-left-up">
            <div class="image">
                <img src="" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla voluptate recusandae necessitatibus eaque ullam? Ratione, voluptate officiis aliquid eius dolor, sapiente quam quae magnam velit ex eos repudiandae, facere deleniti?</p>
        </div>
        <div class="main-left-down">

        </div>
    </div>
    <div class="main-right">
        <div class="card">
            <div class="image">
                <img src="" alt="">
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi unde quae, provident doloribus velit eos, exercitationem veritatis quos totam eius officia enim labore accusamus consectetur. Ab ex at eum voluptatem?</p>
        </div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </div>
</section>
<!-- <p>home works!</p> -->