<div class="home" [ngClass]="{'is-mobile': isPhone}">
  <div class="posts-container" *ngIf="posts && filteredPosts">
    <div class="selector-post" *ngIf="selectedTypes.length > 0; else allPosts" >
      <div *ngIf="filteredPosts.length > 0; else nodatafound">
        <div class="posts" *ngFor="let filteredPost of filteredPosts">
          <app-post-card [post]="filteredPost"></app-post-card>
        </div>
      </div>
      <ng-template #nodatafound>
        <div class="no-data">
          NESSUN POST TROVATO
        </div>
      </ng-template>
    </div>
    <ng-template #allPosts>
      <div class="posts" *ngFor="let post of posts">
        <app-post-card [post]="post"></app-post-card>
      </div>
    </ng-template>
    <mat-paginator *ngIf="filteredPosts.length > 0 || selectedTypes.length == 0"
                #paginator
                [length]="posts.length"
                [pageSize]="postParams?.pageSize"
                [pageIndex]="postParams?.pageNumber"
                [pageSizeOptions]="[5, 10]"
                (page)="pageChangeEvent($event)"
                aria-label="Select page">
    </mat-paginator>
  </div>
  <div class="container-types">
    <h3>Filtra per tipologia:</h3>
    <div class="checkbox" *ngFor="let type of types">
      <input type="checkbox"
      [id]="type.name" [name]="type.name"
      [value]="type.name"
      (change)="eventCheck($event)">
      <label [for]="type.name">{{type.name}}</label>
    </div>
  </div>
</div>
