/* NGX SPINNER */
#loading {
  color: #fff;
}

/* HEADER */
header {
  margin: auto;
  .toolbar {
    height: 50px;
  }
}

/* MAIN */
main {
  max-width: 1080px;
  margin: auto;
}

/* FOOTER */
footer {
  max-width: 1080px;
  margin: auto;
  .footer {
    height: 50px;
    line-height: 50px;
    &.is-mobile {
      font-size: 11px;
      p {
        text-align: center;
      }
    }
    &.is-tablet {
      font-size: 11px;
      p {
        text-align: center;
      }
    }
  }
}

