.container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 50px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-code, .not-found, .paragraph {
  width: 100%;
  text-align: center;
}

.error-code {
  font-size: 500px;
  font-weight: bolder;
}
