<div class="post">
  <div class="image" *ngIf="imageExist; else img_default">
    <img src="" alt="">
  </div>
  <ng-template #img_default>
    <div class="image">
      <img src="../../assets/images/jumbo.jpg" alt="">
    </div>
  </ng-template>
  <div class="details">
    <p class="type">{{post.posts.typologies.name.toUpperCase()}}</p>
    <p class="date">{{post.posts.createdAt}}</p>
  </div>
  <div class="title">
    <h1 routerLink="/post/{{post.posts.id}}">{{post.posts.title}}</h1>
  </div>
  <div class="description">
    <p>
      {{post.posts.description}}
    </p>
  </div>
  <div class="author">
    <img src="../../assets/images/avatar.JPG" alt="avatar">
    <div>{{post.posts.authors.name.toUpperCase()}}</div>
  </div>
</div>
