<div class="post">
  <div class="image" *ngIf="imageExist; else img_default">
    <img src="" alt="">
  </div>
  <ng-template #img_default>
    <div class="image">
      <img src="../../assets/images/jumbo.jpg" alt="">
    </div>
  </ng-template>
  <div class="details">
    <p class="type">APP RELEASE</p>
    <p class="date">SEPTEMBER 6th, 2021</p>
  </div>
  <div class="title">
    <h1 routerLink="/post/{{post.id}}">Staged Rollouts & Phased Release on Google Play and App Store Connect</h1>
  </div>
  <div class="description">
    <p>
      As an app developer it is hard enough to create your app,
      test your app, prep the app store listings, and then get your app approved.
      The last thing you want to think about is how fast or slow to roll out your
      app and updates to users. For the past 10 years all I have ever done was just
      release the app to everyone all at once, and for a long time this all that was available to us.
      However, now there are options for developers from both Google and Apple that can manage your release.
      Unfortunately…
    </p>
  </div>
  <div class="author">
    <img src="" alt="avatar">
    <h4>MASSIMILIANO GASARO</h4>
  </div>
</div>
