<div class="post">
  <div class="image">
    <img src="{{getMainUrlFromPost(post)}}" alt="">
  </div>
  <div class="details">
    <p class="type">{{post.type.toUpperCase()}}</p>
    <p class="date">{{post.created}}</p>
  </div>
  <div class="title">
    <h1 routerLink="/post/{{post.id}}">{{post.title}}</h1>
  </div>
  <div class="description">
    <p>
      {{post.description}}
    </p>
  </div>
  <div class="author">
    <img src="../../assets/images/avatar.JPG" alt="avatar">
    <div>{{post.authorName.toUpperCase()}}</div>
  </div>
</div>

<mat-paginator [length]="postLength"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10]"
              aria-label="Select page">
</mat-paginator>

