.container-post {
  width: 70%;
  margin: auto;
  font-size: 1rem;
  .image-background {
    img {
      width: 100%;
      max-height: 600px;
      margin-top: 2rem;
    }
  }
  .title {
    margin-top: 150px;
    font-size: 2.5rem;
    font-weight: bolder;
  }
  .line-separator {
    width: 150px;
    height: 5px;
    background-color: grey;
    margin-bottom: 2rem;
  }
  .first-content {
    font-style: italic;
  }
  .image-content, .image-example {
    img {
      width: 100%;
      max-height: 500px;
    }
  }
}

.first-content, .second-content, .description, .footer {
  margin: 3.5rem 0;
  line-height: 1.6;
}
