.container-post {
  width: 70%;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  .image-background {
    img {
      width: 100%;
      max-height: 500px;
      margin-top: 20px;
      border-radius: 20px;
    }
  }
  .title {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bolder;
  }
  .subtitle {
    font-weight: bolder;
  }
  .line-separator {
    width: 150px;
    height: 5px;
    background-color: grey;
    margin-bottom: 20px;
  }
  .first-content, .second-content, .third-content {
    font-style: italic;
  }
  .image-content {
    img {
      width: 100%;
      max-height: 500px;
      object-fit: contain;
      border-radius: 20px;
    }
  }
  &.is-mobile {
    border-radius: 0;
    width: 100%;
    margin: 20px 0 0 0;
  }
  &.is-tablet {
    border-radius: 0;
    width: 100%;
    margin: 20px 0 0 0;
  }
}

.first-content, .second-content, .third-content, .description, .footer {
  line-height: 1.6;
}
